html {
    height: 100%;
    cursor: url(wand.cur), default;
}
body {
    height: 100%;
    margin: 0;
    background: #ECD9AE;
    font-family: 'Lovers Quarrel', cursive;
}

body.Gryffindor {
    background: #5B1714;
}

body.Slytherin {
    background: #415C36;
}

body.Hufflepuff {
    background: #D89C00;
}

body.Ravenclaw {
    background: #005F7A;
}

.background {
    position: fixed;
    top: 5%;
    bottom: 5%;
    left: 5%;
    right: 5%;
    background: url(crest.png) center center no-repeat;
    background-size: contain;
}

.box {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 500px;
    height: 60px;
    margin: auto;
    padding: 20px 0 0;
    border-radius: 6px;
    background: #F0F0F0;
    text-align: center;
    font-size: 60px;
    transition: opacity 1s;
}

button {
    background: #333;
    color: #fff;
    border: 0;
    font-size:16px;
    cursor: url(wand.cur), default;
}

input {
    font-size: 16px;
}

h2 {
    margin: 0;
}

.fade-out {
    opacity: 0;
}

#form {
    height: 200px;
}

#result {
    display: none;
    opacity: 0;
    height: 190px;
}

#result.fade-in {
    opacity: 1;
}

#result.visible {

}